/*----------------------------< Title >----------------------------*/
.title-wrapper {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}
.title {
    font-size: 80px;
    font-weight: bolder;
}
svg {
    width: 100%;
    position: absolute;
    bottom: 0;
}
#wave {
    height: 300px;
}
#wave2 {
    height: 150px;
}

/*------------------------------< Notecard Animation >----------------------*/
.panel-wrapper {
    height: 100px;
    width: 100%;
    position: relative;
}
.panel {
    position: absolute;

    height: 100%;
    width: 200px;

    background-color: white;
        
    border: 3px solid gray;
}
