/*----------------------------< Title >----------------------------*/
.title-wrapper {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
}
.title {
    font-size: 80px;
    font-weight: bolder;
    display: inline-block;

    border-top: #fc9803 solid 10px;
    border-bottom: #fcdb03 solid 10px;
    border-radius: 4px;
}
svg {
    width: 100%;
    position: absolute;
    bottom: 0;
}
#wave {
    height: 300px;
}
#wave2 {
    height: 150px;
}

/*------------------------------< Notecard Animation >----------------------*/
.panel-wrapper {
    height: 200px;
    width: 100%;
    margin-top: 200px;
    position: relative;
}
.panel {
    position: absolute;
    transition: 0.1s;
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 350px;

    font-weight: bold;
    font-size: 18px;

    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    z-index: 0;

    border-radius: 2px;

    background-color: white;

}

#panel3 {background-color: #e303fc;}
#panel2 {background-color: #fc9803;}
#panel1 {background-color: #fcdb03;}
