:root{
    --mainDark: #3C4043;
    --white: white;
    --baseGradient: linear-gradient(140deg, rgba(180,58,165,1) 14%, rgba(246,190,0,1) 79%);
    --textFont: Work Sans;
    --captionFont: Nunito;
}
@font-face{
    font-family: Nunito;
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}
@font-face{
    font-family: Work Sans;
    src: url("../fonts/WorkSans/WorkSans-VariableFont_wght.ttf");
}
    /* ------------------------ General --------------------------------- */
*{
    font-family: var(--captionFont);
    color: var(--mainDark);

    box-sizing: border-box;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    background-color: var(--white);
    transition: background-color 0.5s;
}
.centerText{
    text-align: center;
    margin: 0;
}

